services:
  mongo:
    image: mongo:7
    container_name: fleeknote-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: fleeknote-api
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
    ports:
      - "3000:3000"

volumes:
  mongo_data:
